language: node_js
before_install:
  - npm install -g gulp mocha
  - npm install
  - npm test
install:
  - git config --global user.email "travis-ci@entercastle.com"
  - git config --global user.name "Travis Castle"
script:
  - gulp docs
  - cd docs
  - git init
  - git remote add origin "https://${GH_TOKEN}@github.com/castle-dev/le-converter-service.git"
  - git checkout -B gh-pages
  - git add .
  - git commit -m "Updating documentation"
  - git push origin gh-pages -fq > /dev/null
env:
  global:
    - secure: WonR5wXAm7FGJ8jNmAaKtVAmUhvWPJkqO86uyijim7BFcOTsF+oqVNuRc+FER/K3c6VAo5/5Td/RSDv3Q1HgAlu1mTJUgukoal2OddKHO7ZrOwBTY93mLUD2ARVropgdpOsS4UQ3085drNCnDNr035uSz0gNZgC8ipQzada6F9o=
    - secure: ZJ26g2MwrckQi4aNM/LYjAospcrCaiNThYl/X5SpMLogcuw1+bqJBPNlOGvqbejDByX9130e3IzJxlQjpQaP9Ev6C0PWmYj+15rMvuFsABsuucT0RKMy1fZy7GF59bzV5ATjRbZTE12Rk/LVv0sT6g0IzgrQnVLN/4ITJT/zZd0=
